.formLayout {
  background: rebeccapurple;
  background: linear-gradient(
    to right bottom,
    #493e45,
    #403a42,
    #36363d,
    #2e3238,
    #282d31
  );
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}
.layoutImages {
  background-image: url("/backgroudcurve.png");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: right;
  background-size: auto 100vh;
}
.fullImage {
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  img {
    position: absolute;
    right: 25px;
    top: 55px;

  }
}
.loginContainer{
    display: grid;
    place-items: center;
}
